<div id="dashboard">
	<div id="logout-button">
		<span id="logout-text">
			خروج
		</span>
	</div>
</div>
<div id="mainPlate" style="position:fixed;left:0%;width:100%;height:100%;background-color:#36393B">
	<div id="pageHeader" style="height:8%;top:1%;">
		<div id="dashboard-nav-box">
			<img id="dashboard-nav" class="responsive_Image" src="/home/amir/horin-mobile/www/img/navW.png" style="left:0%;right:auto;"></img>
		</div>
		<span id="app-username" dir="rtl">
      <%= name %>
		</span>
		<div id="app-avatar-box" dir="rtl">
			<img id="app-avatar" style="left:auto;right:0%;"class="responsive_Image" src="/home/amir/horin-mobile/www/img/avatar.jpg"></img>
		</div>
	</div>
	<div id="friend-list" dir="rtl" >
	</div>
	<div id="get-random">
		<span id="random-text" dir="rtl">
			پیدا کردن دوست جدید!
		</span>
	</div>
</div>
