<div id="mainPlate">
	<div id="logoCollection">
		<div id="logoImageBox">
			<img id="logoImage" class="responsive_Image" style="position:absolute;" src="/home/amir/horin-mobile/www/img/horin-logo.png"></img>
		</div>
		<span id="logoText" align="center">
			هورین
		</span>
	</div>
	<div id="bottomPlate">
		<div id="login-button">
			<span id="loginText" align="center">
				ورود
			</span>
			<div id="loginPackage">
				<div id="loginFbBox" class="socialImages">
					<img id="loginFbImage" class="responsive_Image" src="/home/amir/horin-mobile/www/img/facebookW.png"></img>
				</div>
				<div id="loginTwBox" class="socialImages">
					<img id="loginTwImage" class="responsive_Image" src="/home/amir/horin-mobile/www/img/twitterW.png"></img>
				</div>
				<div id="loginGBox" class="socialImages">
					<img id="loginGImage" class="responsive_Image"  src="/home/amir/horin-mobile/www/img/googleW.png"></img>
				</div>
				<div id="loginMailBox" class="socialImages">
					<img id="loginMailImage" class="responsive_Image" src="/home/amir/horin-mobile/www/img/mailW.png"></img>
				</div>
			</div>
		</div>
		<div id="signup-button">
			<span id="signupText">
				ثبت نام
			</span>
			<div id="signupMailBox">
				<img id="signupMailImage" class="responsive_Image" src="/home/amir/horin-mobile/www/img/mailW.png"></img>
			</div>
		</div>
	</div>
</div>
