<div id="mainPlate">
	<div id="loginHeader" style="position:absolute;">
		<div id="loginPageBackBox" style="position:absolute;">
			<img id="loginPageBack" class="responsive_Image"  src="/home/amir/horin-mobile/www/img/back.png"></img>
		</div>
		<span id="loginPageHeaderText">
			ورود
		</span>
	</div>
	<div id="facebookPlate">
		<div id="loginPageFbImageBox" class="loginPageItemImageBox">
			<img id="loginPageFbImage" class="responsive_Image" src="/home/amir/horin-mobile/www/img/facebookW.png"></img>
		</div>
		<span id="loginPageFbName" class="loginPageItemName">
			فیسبوک
		</span>
	</div>
	<div id="googlePlate">
		<div id="loginPageGImageBox" class="loginPageItemImageBox">
			<img id="loginPageGImage" class="responsive_Image" src="/home/amir/horin-mobile/www/img/googleW.png"></img>
		</div>
		<span id="loginPageGName" class="loginPageItemName">
			گوگل
		</span>
	</div>
	<div id="twitterPlate">
		<div id="loginPageTwImageBox" class="loginPageItemImageBox">
			<img id="loginPageTwImage" class="responsive_Image" src="/home/amir/horin-mobile/www/img/twitterW.png"></img>
		</div>
		<span id="loginPageTwName" class="loginPageItemName">
			توییتر
		</span>
	</div>
	<div id="mailPlate">
		<form id='login-form'>
			<input type="email" id="login-email" class="topcoat-text-input" value="" placeholder="ایمیل"></input>
			<input type="password" id="login-password" class="topcoat-text-input" value="" placeholder="رمز عبور"></input>
			<button type="submit" id="login-submit" class="topcoat-button--cta">ورود</button>
		</form>
	</div>
</div>
