<div id="mainPlate">
	<div id="pageHeader" style="position:absolute;">
		<div id="pageBackBox" style="position:absolute;">
			<img id="pageBack" class="responsive_Image"  src="/home/amir/horin-mobile/www/img/back.png"></img>
		</div>
		<span id="pageHeaderText">
		</span>
	</div>
	<div id="signupPlateBox">
		<div id="signupPlate">
			<form id='login-form'>
				<input type="text" id="signup-firstname" class="topcoat-text-input" value="" placeholder="نام"></input>
				<input type="text" id="signup-lastname" class="topcoat-text-input" value="" placeholder="نام خانوادگی"></input>
				<div id="signup-gender" class="topcoat-button-bar" >
		   			<div class="topcoat-button-bar__item">
			        		<button id="signup-male" class="topcoat-button-bar__button">مرد</button>
				   	</div>
					<div class="topcoat-button-bar__item">
						<button id="signup-female" class="topcoat-button-bar__button">زن</button>
					</div>
				</div>
				<input type="email" id="signup-email" class="topcoat-text-input" value="" placeholder="ایمیل"></input>
				<input type="password" id="signup-password" class="topcoat-text-input" value="" placeholder="رمز عبور"></input>
				<input type="password" id="signup-password-confirm" class="topcoat-text-input" value="" placeholder="رمز عبور را دوباره بنویسید"></input>
				<button type="submit" id="signup-submit" class="topcoat-button--cta">ثبت</button>
			</form>
		</div>
	</div>
</div>
